<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ToDo List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap|Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <header id="navbar">
    <nav class="navbar-container container">
      <a href="/" class="home-link">
        <span style="font-size: 40px;font-family: 'Sacramento', cursive;font-weight: bold;"><b><em>To - Do List</em></b></span>
      </a>
      <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="navbar-menu">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/createList">Create/View</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/howtouse">How to Use!</a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://polar-wave-60899.herokuapp.com/">Sign Up</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/aboutMe">About Us</a></li>
        </ul>
      </div>
    </nav>
</header>
<br><br><br><br>

<script src="index.js"></script>
